In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('placement_data.csv')
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [41]:
X = df.iloc[: , 0]
X

0      6.89
1      5.12
2      7.82
3      7.42
4      6.94
       ...
195    6.93
196    5.89
197    7.21
198    7.63
199    6.22
Name: cgpa, Length: 200, dtype: float64

In [42]:
y = df.iloc[:,1]
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = .30 , random_state = 42)

In [45]:
X_train.shape

(140,)

In [23]:
class MyLinearRegression:

    def __init__(self):
        self.m = None
        self.n = None

    def fit(self, X_train, y_train):
        num = 0
        den = 0
        for i in range(X_train.shape[0]):
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
            
        self.m = num/den
        self.b = y_train.mean() - (self.m*X_train.mean())
        print(self.m)
        print(self.b)

    def predict(self, X_test):
        return self.m*X_test + self.b

In [24]:
Mlr = MyLinearRegression()

In [25]:
Mlr.fit(X_train, y_train)

0.5701809395087659
-0.9808837676635771

In [26]:
Mlr.predict(X_test[0])

2.799415861279541

In [58]:
from sklearn.preprocessing import add_dummy_feature

In [63]:
class MyBestTheta:

    def __init__(self):
        self.m = None
        self.n = None

    def fit(self, X_train, y_train):
        X_t = X_train.array.reshape(-1 , 1)
        X_b = add_dummy_feature(X_t)  # Assuming add_dummy_feature is defined elsewhere

        # Calculate theta_best using matrix multiplication and inversion
        theta_best = np.linalg.inv(X_b.T @ X_b) @ X_b.T @ y_train

        self.m = theta_best
        print(self.m)

In [64]:
Mbt = MyBestTheta()

In [65]:
Mbt.fit(X_train , y_train)

[-0.98088377  0.57018094]